<asql-form heading="{{Binder.UMR || 'New Binder'}}" back="/binders">
    <tabset>
        <tab heading="Binder Details">
            <br />
            <asql-label text="Agreement Number"><input type="text" ng-model="Binder.Reference" asql-control /></asql-label>
            <asql-label text="Unique Market Reference"><input type="text" ng-model="Binder.UMR" required asql-control /></asql-label>
            <asql-label text="Coverholder">
                <div class="input-group">
                    <select ng-model="Binder.CoverholderId" ng-options="Coverholder.CoverholderId as Coverholder.Coverholder for Coverholder in Coverholders" required asql-control>
                        <option value=""></option>
                    </select>
                    <span class="input-group-btn">
                        <a ng-href="#/company/{{Binder.CoverholderId}}" target="_blank" class="btn btn-default" ng-disabled="!Binder.CoverholderId">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </span>
                </div>
            </asql-label>
            <asql-label text="Broker">
                <div class="input-group">
                    <select ng-model="Binder.BrokerId" ng-options="Broker.BrokerId as Broker.Broker for Broker in Brokers" required asql-control>
                        <option value=""></option>
                    </select>
                    <span class="input-group-btn">
                        <a ng-href="#/company/{{Binder.BrokerId}}" targ target="_blank" class="btn btn-default" ng-disabled="!Binder.BrokerId">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </span>
                </div>
            </asql-label>
            <asql-label text="Inception Date"><input type="date" ng-model="Binder.InceptionDate" required asql-control /></asql-label>
            <asql-label text="Expiry Date"><input type="date" ng-model="Binder.ExpiryDate" required asql-control /></asql-label>
        </tab>
        <tab heading="Territories">
            <br />
            <asql-label text="Risks Located in">
                <select ng-model="Binder.RisksTerritoryId" ng-options="Territory.TerritoryId as Territory.Territory for Territory in Territories" required asql-control>
                    <option value=""></option>
                </select>
            </asql-label>
            <asql-label text="Insureds Domiciled in">
                <select ng-model="Binder.DomiciledTerritoryId" ng-options="Territory.TerritoryId as Territory.Territory for Territory in Territories" required asql-control>
                    <option value=""></option>
                </select>
                <div class="help-block" ng-hide="Domiciled.Valid">Not valid for the selected coverholder.</div>
                <input type="hidden" required ng-model="Domiciled.Valid" />
            </asql-label>
            <asql-label text="Territorial Limits">
                <select ng-model="Binder.LimitsTerritoryId" ng-options="Territory.TerritoryId as Territory.Territory for Territory in Territories" required asql-control>
                    <option value=""></option>
                </select>
            </asql-label>
        </tab>
        <tab heading="Sections" ng-hide="IsNew()">
            <br />
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Class</th>
                            <th>Lead</th>
                            <th>TPA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-click="NewSection()">
                            <td colspan="4">
                                <span class="text-primary">
                                    <i class="fa fa-plus-circle"></i> New Section
                                </span>
                            </td>
                        </tr>
                        <tr ng-repeat="Section in Sections" ng-click="ViewSection(Section.SectionId)">
                            <td>{{Section.Title}}</td>
                            <td>{{Section.Class}}</td>
                            <td>{{Section.Lead}}</td>
                            <td>{{Section.TPA}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<div class="list-group">
                <a ng-href="#/binder/{{Binder.BinderId}}/section" class="list-group-item">
                    <span class="text-primary">
                        <i class="fa fa-plus-circle"></i> New Section
                    </span>
                </a>
                <a ng-repeat="Section in Sections" ng-href="#/binder/{{Binder.BinderId}}/section/{{Section.SectionId}}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{Section.Title}}</h4>
                    <p class="list-group-item-text">{{Section.Class}}</p>
                </a>
            </div>-->
        </tab>
    </tabset>
</asql-form>
